.card{
    border-radius: 10px;
    width: 100px;
    height: 151px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    transition: .2s ease;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 1px #333);
}

.card.horizontal{
    transform: rotate(90deg);
}

.card.selectable{
    cursor: pointer;
}

.card.selected{
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.55);
}

.card:not(.horizontal).selected{
    transform: scale(1.15);
}

.card.horizontal.selectable{
    transform: rotate(90deg) scale(1.15);
}

.card.small{
    width: 70px;
    height: 105px;
}

.card.large{
    width: 150px;
    height: 226px;
}

@media screen and (max-width: 1100px) {
    .card.large{
        width: 120px;
        height: 180px;
    }

    .card.normal{
        width: 80px;
        height: 120px;
    }

    .card.small{
        width: 60px;
        height: 90px;
    }
}