
.card-list{
    position: relative;
    height: 110px;
    padding: 15px;
    text-align: center;
    padding-left: 30px;
}

.card-list .card{
    margin-top: 7px;
}

.card-list:not(.fixed) .card:not(.horizontal):hover{
    transform: scale(1.15);
}

.card-list:not(.fixed) .card.horizontal:hover{
    transform: rotate(90deg) scale(1.15);
}

.card-list.horizontal .card:nth-child(n+1) { 
    margin-left: -28px; 
    position: relative;
    display: inline-block;
}

.card-list.horizontal:hover .card:nth-child(n+2) {
    margin-left: 0px;
}

.card-list.vertical{
    width: 100px;
}

.card-list.vertical .card{ 
    position: absolute;
}