.players{
    display: flex;
}

.player{
    margin: 2px;
    padding: 10px 30px 10px 30px;
    width: 100%;
    transition: .2s ease;
    background-image: url(/img/background-player.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: transparent;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.4));
}

.player.active{
    filter: drop-shadow(0 0 16px rgba(0,0,0,1));
    width: 150%;
}

.player.inactive{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-list{
    position: relative;
    height: 110px;
    padding: 15px;
    text-align: left;
    padding-left: 30px;
}

.card-list .card{
    margin-top: 7px;
}

.card-list .card.small:hover{
    margin-top: 0px;
    margin-bottom: -8px;
    width: 80px;
    height: 120px;
}

.player.inactive .card-list .card.small:hover{
    width: 50px;
    height: 75px;
}

.card-list.horizontal .card:nth-child(n+1) { 
    margin-left: -25px; 
    position: relative;
    display: inline-block;
}

.card-list.horizontal:hover .card:nth-child(n+2) {
    margin-left: 0px;
}

.card-list.vertical{
    width: 100px;
}

.card-list.vertical .card{ 
    position: absolute;
}

.split{
    display: grid;
    grid-template-columns: 50% 50%;
}

.surface{
    background: #cacaca;
    padding: 40px;
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.62);
}

.game-deck{
    position: absolute;
    bottom: 5%;
    height: 240px;
    display: flex;
    background-image: url(/img/background-deck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .2s ease;
}

.dock-right{
    left: 80%;
}

.dock-left{
    left: 5%
}

.event-card{
    position: absolute;
    top: 10%;
    background-image: url(/img/pirate-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: darkred;
}

.event-card .card{
    margin-left: auto;
    margin-right: auto;
}

.winning-player{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 30pt;
}