@font-face {
  font-family: pirateFont;
  src: url(./assets/pirate-font.ttf);
}


body {
  margin: 0;
  font-family: pirateFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
